.menu {
  text-decoration: none;
  color: white;
  border: 1px solid white;
  width: fit-content;
  padding: 10px 50px;
  margin: auto;
}

.navlink {
  text-decoration: none;
  color: white;
  margin: 10px;
}
