@import "../../../common-ui/vars.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
}

.header {
  padding: 40px;
  background: $primary;
  width: 100%;
  box-sizing: border-box;
}

.formContainer {
  background: $primary;
  width: 100%;
  background: linear-gradient(
    180deg,
    $primary 0%,
    $primary 100px,
    #ececec 100px,
    #ececec 100%
  );
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submitContainer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: $primary;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

.block {
  border-radius: 4px;
  background: #fff;
  padding: 20px;
  width: 75%;
  margin: 0 auto 20px;
  box-shadow: 0px 5px 10px -5px #aaa;
  box-sizing: border-box;
  @include for-mobile-only {
    width: 95%;
  }
}

.titleContainer {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
  padding-bottom: 20px;
}

.titleLabel {
  font-size: 24px;
  text-align: left;
}

.emailContainer {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
}

.emailLabel {
  font-size: 16px;
  text-align: left;
}

.textInput {
  width: 50%;
  padding: 20px;
  border: none;
  padding: 18px 10px 10px 10px;
  font-size: 16px;
  &:focus {
    border: none;
    outline: none;
  }
}

.emailInput {
  width: 50%;
  padding: 20px;
  border: none;
  padding: 14px 10px 10px 10px;
  font-size: 16px;
  &:focus {
    border: none;
    outline: none;
  }
}

.textAreaInput {
  border: none;
  resize: none;
  height: 100px;
  width: 100%;
  padding-top: 20px;
  font-family: AeonikRegular;
  font-size: 14px;
  &::placeholder {
    color: #8c929a;
  }
  &:focus {
    border: none;
    outline: none;
  }
}

.addButtonContainer {
  width: 75%;
  @include for-mobile-only {
    width: 95%;
  }
}

.loaderContainer {
  margin-left: 20px;
}
