@import "../../../common-ui/vars.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
}

.header {
  padding: 40px;
  background: $primary;
  width: 100%;
  box-sizing: border-box;
}

.formContainer {
  background: $primary;
  width: 100%;
  background: linear-gradient(
    180deg,
    $primary 0%,
    $primary 100px,
    #ececec 100px,
    #ececec 100%
  );
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block {
  border-radius: 4px;
  background: #fff;
  padding: 20px;
  width: 75%;
  margin: 0 auto 20px;
  box-shadow: 0px 5px 10px -5px #aaa;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include for-mobile-only {
    width: 95%;
  }
}

.hello {
  font-size: 24px;
  margin-bottom: 40px;
}

.description {
  font-size: 16px;
  margin-bottom: 20px;
}

.pollTitle {
  font-size: 20px;
  font-weight: bold;
}

.pollDescription {
  color: #8c929a;
  font-size: 16px;
  margin: 5px 0 10px 0;
}

.pollSeparator {
  height: 1px;
  background: #c4c9d0;
  width: 40%;
  margin: 20px auto 10px;
}

.questionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.questionNumber {
  color: #8c929a;
  font-size: 20px;
}

.question {
  font-size: 24px;
  margin: 20px;
  width: 50%;
  @include for-mobile-only {
    width: 95%;
  }
}

.choices {
  width: 50%;
  @include for-mobile-only {
    width: 95%;
  }
}

.textAreaInput {
  border: none;
  resize: none;
  height: 200px;
  width: 50%;
  padding: 20px;
  font-family: AeonikRegular;
  font-size: 14px;
  box-shadow: 0px 5px 10px -5px #aaa;
  border-radius: 4px;
  margin-bottom: 20px;
  box-sizing: border-box;
  &::placeholder {
    color: #8c929a;
  }
  &:focus {
    border: none;
    outline: none;
  }
  @include for-mobile-only {
    width: 95%;
  }
}

.buttons {
  display: flex;
  align-items: center;
  position: relative;
}

.previousButton {
  position: absolute;
  left: -120px;
  top: 0;
  bottom: 0;
}

.cristiano {
  width: 250px;
  border-radius: 4px;
  margin: 20px 0;
}

.thanks {
  font-size: 24px;
}

.more {
  color: $secondary;
  margin-top: 20px;
  text-decoration: none;
  &:hover {
    cursor: pointer;
  }
}
