@import "../../common-ui/constants/colors.scss";

.image {
  width: 100%;
  max-width: 400px;
}

.title {
  font-size: 20px;
  margin: 20px;
}

.text {
  margin: 20px;
}

.colorA {
  background: $purple;
  color: $white;
  padding: 10px;
  border-radius: 4px;
  width: 300px;
  margin: 10px auto;
}

.colorB {
  background: $red;
  color: $white;
  padding: 10px;
  border-radius: 4px;
  width: 300px;
  margin: 10px auto;
}

.colorC {
  background: $blue;
  color: $white;
  padding: 10px;
  border-radius: 4px;
  width: 300px;
  margin: 10px auto;
}

.colorD {
  background: $yellow;
  color: $white;
  padding: 10px;
  border-radius: 4px;
  width: 300px;
  margin: 10px auto;
}

.colorE {
  background: $green;
  color: $white;
  padding: 10px;
  border-radius: 4px;
  width: 300px;
  margin: 10px auto;
}
