@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-zoom infinite 3s linear;
    width: 120px;
  }
}

@keyframes logo-zoom {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}

.buttons {
  display: flex;
  justify-content: center;
  margin: 20px;
}
