@import "../vars.scss";

.button {
  height: 38px;
  border-radius: 4px;
  background: $secondary;
  color: white;
  font-size: 16px;
  outline: none;
  align-items: center;
  display: flex;
  justify-content: center;
  min-width: 100px;
  max-width: 150px;
  text-decoration: none;
  padding: 0 10px;
  border: none;
  transition-duration: 0.3s;
  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}

.invert {
  background: #fff;
  border: 1px solid $secondary;
  color: $secondary;
}

.maxWidth {
  min-width: 100%;
  max-width: 100%;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.nude {
  color: $secondary;
  border: none;
  background: none;
}
