@import "../../common-ui/vars.scss";

.menu {
  text-decoration: none;
  color: white;
  padding: 20px 70px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  @include for-mobile-only {
    padding: 10px;
  }
}

.logoNavlink {
  text-decoration: none;
  color: white;
}

.navlink {
  text-decoration: none;
  color: white;
  margin: 10px;
}

.tabs {
  display: flex;
  align-items: center;
}

.logo {
  width: 120px;
}
